@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #FFC75F;
  height: 100vh;
}

#root {
  width:auto;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  gap: 5px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: cornflowerblue;
}

.cell {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 5em;
  background-color: white;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: yellow;
}

#game-mode {
  padding-bottom: 10px;
}

#game-mode-desc {
  width: 300px;
  list-style-type: none;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2em;
  background-color: #383856;
}

li {
  color: white;
}

#game-mode > label {
  margin-left: 3px;
  padding-right: 10px;
}

.player-info {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.player-info > input[type="text"] {
  margin-right: 3px;
  padding-left: 10px;
}

.button-r {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2em;
  background-color: #202033;
}

.orange {
  color: #d1513b;
}

.decor {
  background-color: #C34A36; 
  border: none;
  border-radius: 2em;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input, label {
  padding-right: 10px;
  color: white;
}

.label2 {
  font-weight: 800;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #C34A36;
}

img {
  width: 80px;
  height: 80px;
}