.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  gap: 5px;
  padding: 5px;
  background-color: cornflowerblue;
}

.cell {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 5em;
  background-color: white;
}

.isPlayer1 {
  background-color: brown;
}



